body {
	min-width: $base-min-width;
	-ms-overflow-style: scrollbar;

	@include media('≥tablet') {
		font-size: 15px;
	}
}

a {
		transition: color 0.3s ease;

	&:focus {
		outline: none;
	}
}

table {
	width: 100%;
}

mark {
	background: transparent;
	color: $red;
	padding: 0;
}

h1 {
	margin: 0 0 24px;
	margin-bottom: 24px;

	@include media('≥tablet') {
		font-size: 45px;
		margin-bottom: 53px;
	}
}

h2 {
	margin: 0 0 10px;

	@include media('≥tablet') {
		font-size: 25px;
	}
}

h3 {
	margin: 0 0 23px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: darken(desaturate(adjust-hue($gray, -240.0000), 0.4115), 26.0784);

	@include media('≥tablet') {
		font-size: 20px;
	}
}

h4 {
	margin: 0 0 15px;
	font-weight: 700;
	color: #333e47;
	font-size: 13px;

	@include media('≥tablet') {
		font-size: 18px;
	}

	> span {
		display: inline-block;
		background: $white;
		padding: 0 7px;

		.bg-gray & {
			text-transform: uppercase;
			background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 49.2157);
		}
	}
}

.resize-active {
	> * {
		transition: none;
	}
}

#wrapper {
	overflow: hidden;
	position: relative;
}

.w1 {
	transition: margin 0.3s ease;

	@include media('≥desktop') {
		transition: none;
	}

	.nav-active & {
		margin: 0 -236px 0 236px;

		@include media('≥desktop') {
			margin: 0;
		}
	}
}

.container-fluid {
	max-width: $container-lg;
	width: 100%;
}

.box {
	text-align: center;
	padding: 50px 30px;
}

.fade {
	transition: opacity 1.5s ease;
}

.btn {
	border: 0;
	padding: 11px 43px;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 14px;
	border: 0;
	transition: box-shadow 0.3s ease;
	white-space: normal;

	@include media('≥tablet') {
		font-size: 14px;
		line-height: 24px;
	}

	@include media('≥desktop') {
		padding: 16px 64px 15px;
	}

	&:hover {
		box-shadow: 0 0 15px 0 rgba(1,2,2,0.25);
	}

	&.btn-danger {
		&:hover {
			background: $btn-danger-bg;
		}
	}

	&.btn-default {
		&:hover {
			background: $btn-default-bg;
		}
	}

	&.btn-sm {
		padding: 6px 25px;
		font-weight: 500;
		border-radius: 0;
		font-size: 10px;
		line-height: 14px;

		@include media('≥tablet') {
			font-size: 14px;
			line-height: 18px;
			padding: 11px 38px;
		}

		&:hover {
			box-shadow: 0 0 7px 0 rgba(1,2,2,0.25);
		}
	}

	.mac & {
		padding: 7px 25px 5px;

		&.btn-sm {
			@include media('≥tablet') {
				padding: 13px 38px 9px;
			}
		}
	}

	[class^="icon-"] {
		font-size: 12px;
		margin: -11px 0 0 11px;
		line-height: 10px;
		position: relative;
		top: 2px;

		@include media('≥tablet') {
			font-size: 23px;
			margin: -11px 0 0 11px;
		}
	}
}

.bg-retina {
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.bg-gray {
	background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 49.2157);
}

.label {
	padding: 7px 17px 8px;
	min-width: 127px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	text-align: left;
	font-size: 10px;
	line-height: 14px;
	border-radius: 0;

	@include media('≥tablet') {
		font-size: 16px;
		line-height: 20px;
		min-width: 207px;
		padding: 14px 22px 13px;
	}
}

.banner {
	position: relative;
	z-index: 1;
	height: 315px;
	display: flex;
	align-items: flex-end;
	padding: 15px 0;

	@include media('≥tablet') {
		height: 457px;
		padding: 35px 0;
	}

	@include media('≥desktop') {
		padding: 76px 0;
	}

	.parallax-hold {
		position: absolute;
		left: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		height: 100%;
		overflow: hidden;
	}

	.head-page {
		font-size: 32px;
		line-height: 34px;

		@include media('≥tablet') {
			font-size: 42px;
			line-height: 50px;
		}
	}

	.bg-holder {
		// background-attachment: fixed;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;

		img {
			height: auto;
			position: absolute;
			width: auto;
		}
	}
}

.fallback-class {
	background-size: cover !important;
	background-attachment: inherit !important;
}

#main {
	position: relative;
	z-index: 2;
	padding: 27px 0 0;

	@include media('≥tablet') {
		padding: 70px 0 0;
	}

	//+ .location-section {
	//	margin-top: -27px;

	//	@include media('≥tablet') {
	//		margin-top: -70px;
	//	}
	//}
}

.filter-block {
	@extend %clearfix;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 -15px 40px;
	letter-spacing: -5px;
	white-space: nowrap;

	@include media('≥desktop') {
		overflow: visible;
		margin: 0 -15px 78px;
		white-space: normal;
	}

	.row-form {
		@extend %clearfix;
		padding: 0 15px;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		letter-spacing: 0;
		width: 200px;
		overflow: hidden;

		@include media('≥tablet') {
			width: 33.3%;
		}

		@include media('≥desktop') {
			width: 16.6%;
			overflow: visible;
		}
	}

	label {
		display: block;
		text-transform: uppercase;
		text-align: center;
		color: darken(desaturate(adjust-hue($gray, -240.0000), 0.4115), 26.0784);
		position: relative;
		line-height: 1.21;
		font-weight: 500;
		font-size: 13px;
		padding: 30px;
		margin: 0;
		z-index: 10;

		@include media('≥tablet') {
			font-size: 14px;
			padding: 33px 20px 37px;
		}

		&:hover {
			@include media('≥desktop') {
				.hover-block {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&:after {
			content:'\e901';
			font-family: 'icomoon';
			position:absolute;
			font-size: 10px;
			line-height: 1;
			bottom: 5px;
			right: 5px;
			opacity: 0;
			transition: opacity .3s;

			@include media('≥tablet') {
				font-size: 17px;
				bottom: 12px;
				right: 12px;
			}
		}

		input[type="checkbox"] {
			left: 0;
			top: 0;
		}

		// .ico {
		// 	display: block;
		// 	text-align: center;
		// 	line-height: 46px;
		// 	font-size: 38px;
		// 	margin-bottom: 13px;

		// 	@include media('≥tablet') {
		// 		font-size: 48px;
		// 		line-height: 56px;
		// 	}
		// }

		.picture-holder {
			position: relative;
			margin: 0 0 10px;
			min-height: 60px;

			.hover-img {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				top: 0;
				// transform: translate(-50%, -50%);
				opacity: 0;
			}
		}

		.title {
			display: block;
			text-transform: uppercase;
		}

		.icon-glazing-double {
			font-size: 46px;

			@include media('≥tablet') {
				font-size: 56px;
			}
		}
	}

	.filter {
			border: 1px solid lighten(desaturate(adjust-hue($gray, -231), 0.4115), 37.8431);
			transition: border-color 0.3s ease;

			&:hover {
				border-color: #bebebe;
			}

			&.jcf-label-active {
				border-color: $red;
				color: $red;

				&:after {
					opacity: 1;
				}

				.hover-img {
					opacity: 1;
				}
			}
	}

	.filter-2 {
		border-color: transparent;
		background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 48.8235);
		transition: background 0.3s ease;

		&:hover {
			background: #eaeaea;
			border-color: transparent;
		}

		&.jcf-label-active {
			border-color: $red;
		}
	}

	.row-form:nth-child(2n+1) {
		.hover-block {
			left: 0;

			@include media('≥desktop') {
				left: 50%;
				margin-left: -10px;
			}
		}
	}

	.row-form:nth-child(2n+2) {
		.hover-block {
			left: auto;
			right: 0;

			@include media('≥tablet') {
				left: 0;
				right: auto;
			}

			@include media('≥desktop') {
				left: 50%;
				margin-left: -10px;
				right: auto;
			}
		}
	}

	.row-form:nth-child(3n+3) {
		@include media('≥tablet') {
			.hover-block {
				left: auto;
				right: 0;
			}
		}

		@include media('≥desktop') {
			.hover-block {
				left: 50%;
				margin-left: -10px;
				right: auto;
			}
		}
	}

	.row-form:nth-child(6n+5),
	.row-form:nth-child(6n+6) {
		.hover-block {
			@include media('≥desktop') {
				left: auto;
				right: 50%;
				margin-right: -10px;
			}

			&:after {
				left:auto;
				right: 0;
			}
		}
	}
}

/* .hover-block {
	text-transform: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	background: $red;
	color: $white;
	font-size: 10px;
	line-height: 1.15;
	padding: 10px 5px;
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	align-content: center;
	font-weight: 400;
	overflow: hidden;
	transition: top .3s;

	@include media('≥tablet') {
		font-size: 13px;
	}

	.title-hover {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.21;
		margin-bottom: 4px;
		padding: 0 10px;
		font-weight: 500;
		text-align: center;
		width: 100%;

		@include media('≥tablet') {
			font-size: 14px;
			margin-bottom: 17px;
		}
	}

	.body-hover {
		display: block;
	}
} */

.hover-block {
	text-transform: none;
	position: absolute;
	left: 0;
	bottom: 111%;
	background: rgba($black, .8);
	color: $white;
	font-size: 10px;
	line-height: 1.38;
	padding: 10px 23px;
	font-weight: 400;
	transition: opacity .3s;
	width: 290px;
	text-align: left;
	opacity: 0;
	visibility: hidden;

	@include media('≥tablet') {
		width: 400px;
		font-size: 13px;
		padding: 20px 23px 21px;
	}

	@include media('≥desktop') {
		left: 50%;
	}

	&:after {
		display: none;
		content:'';
		position:absolute;
		top:100%;
		left:0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: rgba($black, .8) transparent transparent transparent;

		@include media('≥desktop') {
			display: block;
		}
	}


	.title-hover {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.38;
		margin-bottom: 4px;
		font-weight: 400;
		color: $red;

		@include media('≥tablet') {
			font-size: 13px;
			margin-bottom: 7px;
		}
	}

	.body-hover {
		display: block;
	}
}

.items-block {
	background: darken(saturate(adjust-hue($white, 0.0000), 0.0000), 4.7059);
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding: 16px 16px 28px;
	color: darken(saturate(adjust-hue($gray, -30.0000), 2.8672), 23.7255);
	position: relative;
	transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;

	@include media('≥tablet') {
		padding: 33px 27px 46px;
		margin-bottom: 15px;
		font-size: 15px;
		line-height: 24px;
	}

	&:hover {
		z-index: 11;

		@include media('≥tablet') {
			background: $white;
			box-shadow: 0 0 20px 0 rgba($black, 0.2);
			transform: scale(1.05);
		}

		.more-link {
			&:after {
				width: 100%;
			}
		}
	}

	.title {
		display: block;
		text-align: left;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		margin: 0 0 18px;

		@include media('≥tablet') {
			margin: 0 0 30px;
			font-size: 17px;
			line-height: 22px;
		}

		@include media('≥desktop') {
			font-size: 23px;
			line-height: 28px;
		}

		mark {
			display: block;
		}
	}

	.picture-holder {
		margin: 0 -16px 16px;

		@include media('≥tablet') {
			margin: 0 -27px 27px
		}

		img {
			max-width: none;
			width: 100%;
		}
	}

	.more-link {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 24px;
		height: 24px;
		background: $black;
		color: $white;
		line-height: 24px;
		z-index: 1;

		@include media('≥tablet') {
			width: 40px;
			height: 40px;
			line-height: 40px;
		}

		&:after {
			transition: width 0.3s ease;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 100%;
			background: $red;
			z-index: -1;
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}
	}

	a {
		color: inherit;
	}

	p {
		margin-bottom: 0;
	}
}

.featured-section {
	font-size: 13px;
	line-height: 19px;
	color: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 0.1961);
	margin: 0 0 70px;

	@include media('≥tablet') {
		font-size: 19px;
		line-height: 28px;
	}

	@include media('≥desktop') {
		margin-bottom: 101px;
	}

	h1 {
		font-size: 23px;
		line-height: 30px;
		margin: 0 0 32px;

		@include media('≥tablet') {
			font-size: 34px;
			font-weight: 500;
			margin: 0 0 40px;
			letter-spacing: 2px;
		}

		@include media('≥desktop') {
			margin-bottom: 72px;
		}
	}

	.btn-group {
		@extend %listreset;
		margin: 0 0 34px;
		letter-spacing: -5px;

		@include media('≥tablet') {
			margin-bottom: 54px;
			padding-top: 5px;
		}

		li {
			display: inline-block;
			vertical-align: top;
			letter-spacing: 0;

			&.active {
				.btn {
					background: $red;
					color: $white;
				}
			}
		}
	}

	.info-holder {
		margin-bottom: 18px;

		@include media('≥tablet') {
			margin-bottom: 54px;
		}
	}

	.picture-holder {
		margin-bottom: 22px;

		@include media('≥tablet') {
			text-align: right;
			margin-bottom: 0;
		}

		> a {
			display: block;
			width: 76px;
			margin: 0 auto;

			@include media('≥tablet') {
				width: auto;
			}
		}
	}

	.text-holder {
		@include media('≥tablet') {
			text-align: left;
			padding-top: 4px;
		}
	}
}

.feature-list {
	@extend %listreset;
	margin: 0 0 70px;
	padding: 0 15px;

	@include media('≥tablet') {
		padding: 0;
		flex-wrap: wrap;
		display: flex;
	}

	@include media('≥desktop') {
		margin-bottom: 105px;
	}

	li {
		@include media('≥tablet') {
			width: 50%;
		}

		@include media('≥desktop') {
			width: 25%;
		}
	}
}

.feature-block {
	position: relative;
	height: 290px;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	color: $white;
	text-align: left;
	font-size: 14px;
	line-height: 18px;

	@include media('≥tablet') {
		line-height: 23px;
		font-size: 15px;
		height: 480px;
	}

	&:before {
		position: absolute;
		content: '';
		background: rgba($black, 0.8);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		// transition: opacity 0.3s ease;
		z-index: -1;
		// transform: scale(1.05);
	}

	&.hover {
		transform: scale(1.05);
		z-index: 2;
		box-shadow: 0 0 20px 0 rgba($black, 0.2);
		color: $white;

		&:before {
			opacity: 1;
		}

		.visible-hover {
			display:block;
		}

		.hidden-hover {
			display:none;
		}

		.animation-text {
			display:block;

			p {
				margin-bottom: 0;
			}
		}

		.label {
			color: $black;
			font-size: 11px;
			line-height: 12px;

			@include media('≥tablet') {
				font-size: 19px;
				line-height: 22px;
			}
		}

		.title {
			color: $white;
			font-size: 19px;
			line-height: 21px;

			@include media('≥tablet') {
				font-size: 22px;
				line-height: 26px;
			}

			@include media('≥widescreen') {
				font-size: 32px;
				line-height: 35px;
			}

			mark {
				font-size: 11px;
				line-height: 14px;

				@include media('≥tablet') {
					font-size: 21px;
					line-height: 24px;
				}
			}
		}

		.text-block {
			.holder {
				background: transparent !important;
				padding-top: 17px;

				@include media('≥tablet') {
					padding-top: 24px;
				}
			}
		}
	}

	.bg-retina {
		z-index: -2;
	}

	p {
		.product & {
			margin: 0 0 6px;
		}
	}

	.ico-holder {
		width: 43px;
		height: 42px;
		position: absolute;
		top: 10px;
		left: 9px;

		@include media('≥tablet') {
			top: 15px;
			left: 12px;
			width: 70px;
			height: 69px;
		}
	}

	.visible-hover {
		display:none;
	}

	.animation-text {
		display: none;
		padding: 14px 0 0;

		@include media('≥tablet') {
			padding-top: 20px;
		}
	}

	.text-block {
		width: 100%;

		.holder {
			padding: 18px 16px 21px;
			background: darken(saturate(adjust-hue($white, 0.0000), 0.0000), 4.7059);

			.bg-gray & {
				background: $white;
			}

			@include media('≥tablet') {
				padding: 34px 21px 32px;
			}
		}
	}

	.title {
		display: block;
		font-size: 16px;
		line-height: 20px;
		color: $black;
		font-weight: 700;

		@include media('≥tablet') {
			font-size: 20px;
			line-height: 24px;
		}

		@include media('≥widescreen') {
			font-size: 26px;
			line-height: 30px;
		}

		sup {
			font-size: 50%;
			top: -10px;
		}

		mark {
			display: block;
			font-size: 11px;
			line-height: 14px;
			color: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 15.0980);
			padding: 3px 0 0;

			@include media('≥tablet') {
				font-size: 18px;
				line-height: 22px;
				padding: 6px 0 0;
			}
		}
	}

	&.small-feature {
		font-size: 12px;
		line-height: 16px;

		@include media('≥tablet') {
			margin-bottom: 30px;
		}

		@include media('≥tablet') {
			height: 270px;
		}

		.animation-text {
			transform: translate3d(0, 0, 0) rotate(0.1deg);
		}

		.bg-retina {
			bottom: 1px;
		}

		.ico-holder {
			@include media('≥tablet') {
				width: 37px;
				height: 36px;
				top: 11px;
				left: 8px;
			}
		}

		.label {
			@include media('≥tablet') {
				font-size: 11px;
				min-width: 123px;
				padding: 3px 15px;
			}
		}

		.title {
			@include media('≥tablet') {
				font-size: 18px;
				line-height: 22px;
			}

			mark {
				@include media('≥tablet') {
					font-size: 12px;
					line-height: 14px;
					padding-top: 5px;
				}
			}
		}

		.text-block {
			.holder {
				@include media('≥tablet') {
					padding: 12px 16px 18px;
				}
			}
		}

		&.hover {
			.title {
				font-size: 14px;
				line-height: 18px;

				@include media('≥tablet') {
					font-size: 15px;
					line-height: 18px;
				}

				@include media('≥widescreen') {
					font-size: 19px;
					line-height: 21px;
				}

				mark {
					font-size: 11px;
					line-height: 14px;

					@include media('≥tablet') {
						font-size: 12px;
						line-height: 16px;
						padding-top: 3px;
					}
				}
			}

			.animation-text {
				padding-top: 17px;

				@include media('≥tablet') {
					padding-top: 5px;
				}

				@include media('≥widescreen') {
					padding-top: 17px;
				}
			}

			.label {
				font-size: 11px;
				line-height: 16px;
				min-width: 118px;
			}
		}
	}

	&.feature-block-2 {
		height:260px;
		margin-bottom:30px;

		&:before {
			display:none;
		}

		.ico-holder {
			width:40px;
			height: 36px;
			left:8px;
			top:11px;
		}
		.text-block {

			.holder {
				padding: 12px 15px 7px;
				background:$white;
			}
		}

		.title {
			font-size:18px;
			line-height:22px;

			mark {
				font-size:12px;
				line-height:14px;
			}
		}

		.label {
			font-size:11px;
			line-height:14px;
			min-width:123px;
			padding: 7px 16px 6px;
		}

		&.hover {
			.text-block {
				.holder {
					background:$white !important;
					padding: 12px 15px 7px;
				}
			}

			.title {
				color:$black;
				font-size: 18px;
				line-height: 22px;

				.mark {
					font-size: 12px;
					line-height: 14px;
				}
			}

			.label {
				color:$white;
				font-size: 11px;
				line-height: 12px;
			}

			.hidden-hover {
				display:block;
			}
		}
	}
}

.section {
	padding: 53px 0 0;

	@include media('≥tablet') {
		padding: 63px 0 44px;
	}

	&.list-section {
		padding-top: 38px;
	}
}

.descriptor {
	overflow: hidden;
	display: flex;
	font-size: 15px;
	line-height: 1.47;
	align-items:center;
	align-content: center;
	margin-bottom: 10px;

	@include media('≥tablet') {
		align-items:flex-start;
		margin-bottom: 0;
	}

	.ico-wrap {
		padding: 0 10px 0 0;
		width: 56px;

		@include media('≥tablet') {
			padding: 0 24px 0 0;
			width: 113px;
		}
	}

	.ico {
		display: block;
		background: $white;
		color: darken(desaturate(adjust-hue($gray, -240.0000), 0.4115), 11.9608);
		text-align: center;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: inset 0 0 0 1px lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 23.7255);
		width:46px;
		height:46px;
		position: relative;
		padding: 8px 13px;
		white-space: nowrap;

		@include media('≥tablet') {
			width: 85px;
			height: 85px;
			padding: 8px 5px;
		}

		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 1px;
			height: 100%;
			margin: 0 0 0 -5px;
			overflow: hidden;
		}

		img {
			vertical-align: middle;
			white-space: normal;
		}

		.bg-gray & {
			box-shadow: none;
		}
	}

	.body {
		width: calc(100% - 56px);

		@include media('≥tablet') {
			width: calc(100% - 113px);
		}
	}

	h2 {
		margin:0;
		letter-spacing: 1px;
		font-weight: 500;
		text-transform: uppercase;
		color: darken(desaturate(adjust-hue($gray, -240.0000), 0.4115), 26.0784);
		font-size:17px;

		@include media('≥tablet') {
			margin: 0 0 13px;
			font-size:20px;
		}

		@include media('≥desktop') {
			font-size: 25px;
		}
	}

	p {
		display:none;

		@include media('≥tablet') {
			display:block;
		}
	}
}

.block-line {
	position: relative;
	padding: 33px 0 0;
	z-index: 1;

	h4 {
		position: relative;
		margin: 0 0 20px;

		@include media('≥tablet') {
			margin: 11px 0 35px;
		}

		&:after {
			display: none;
			content:'';
			position:absolute;
			top:50%;
			transform: translateY(-50%);
			left:-9999px;
			right: -9999px;
			border-bottom: 1px solid lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 37.0588);
			z-index: -1;

			@include media('≥tablet') {
				display: block;
			}
		}

		> img {
			position: absolute;
			left: 0;
			top:50%;
			transform:translateY(-50%);

			+ span {
				padding: 0 5px 0 56px;
				// background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 49.2157);
			}
		}
	}
}

.block-list {
	@extend %listreset;
	letter-spacing: -5px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 -15px 20px;

	@include media('≥tablet') {
		white-space: normal;
		margin-bottom: 0;
		overflow: visible;
	}

	&.large-list {
		@include media('≥desktop') {
			li {
				width: 25%;
			}
		}
	}

	li {
		padding: 0 15px;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		letter-spacing: 0;
		width: 75%;

		@include media('≥tablet') {
			width: 50%;
		}

		.large-list & {
			@include media('≥tablet') {
				width: 25%;
			}
		}
	}
}

.two-section {
	background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 46.0784);
	font-size: 13px;
	line-height: 15px;
	text-align: center;

	@include media('≥tablet') {
		text-align: left;
		font-size: 19px;
		line-height: 23px;
	}

	@include media('≥desktop') {
		display: flex;
		font-size: 15px;
		line-height: 19px;
	}

	@include media('≥widescreen') {
		font-size: 19px;
		line-height: 23px;
	}

	.col-section {
		color: lighten(desaturate(adjust-hue($dark-gray, -340.0000), 3.6145), 10.3922);
		padding: 33px 15px 41px;
		display: block;
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition: background 0.3s ease;
		height: 322px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include media('≥tablet') {
			flex-direction: row-reverse;
			padding: 40px 15px;
			height: auto;
			flex-wrap: nowrap;
		}

		@include media('≥desktop') {
			width: 50%;
		}

		@include media('≥widescreen') {
			padding: 83px 82px;
		}

		&:hover {
			.bg-retina {
				transform: scale(1.05);

				&:before {
					opacity: 0;
				}
			}

			.icon-block {
				color: lighten(desaturate(adjust-hue($dark-gray, -340.0000), 3.6145), 16.6667);
			}

			.fake-btn {
				color: $white;
				background: $red;

				&:before {
					border-color: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 46.0784);
				}
			}
		}

		&.red-style {
			color: $white;
			background: $red linear-gradient(to right,  rgba(182,14,27,1) 0%,rgba(185,15,28,1) 7%,rgba(183,16,26,1) 7%,rgba(190,15,28,1) 20%,rgba(195,17,31,1) 29%,rgba(200,20,32,1) 38%,rgba(201,20,35,1) 38%,rgba(204,22,35,1) 46%,rgba(207,22,36,1) 46%,rgba(210,24,38,1) 52%,rgba(213,25,39,1) 60%,rgba(222,27,43,1) 70%,rgba(231,31,44,1) 90%,rgba(234,32,46,1) 100%);

			.fake-btn {
				border-color: $white;
				color: $white;

				&:before {
					border-color: $white;
					color: $black;
					background: $white;

					@include media('≥tablet') {
						background: transparent;
						color: inherit;
					}
				}
			}

			.icon-block {
				text-shadow: none;
			}

			&:hover {
				background: $red;

				.icon-block {
					color: $white;

					.icon-decor {
						&:after {
							background: $black;
						}
					}
				}

				.fake-btn {
					color: $red;
					background: $white;

					&:before {
						border-color: $red;
					}
				}
			}
		}
	}

	.bg-retina {
		z-index: -1;
		transition: transform 0.3s ease;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(darken(saturate(adjust-hue($white, 0.0000), 0.0000), 5.0980), 0.5);
			transition: opacity 0.3s ease;
			opacity: 1;
		}
	}

	.title {
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		margin: 0 0 15px;
		display: block;

		@include media('≥tablet') {
			font-size: 28px;
			line-height: 32px;
		}

		@include media('≥desktop') {
			font-size: 20px;
			line-height: 25px;
		}

		@include media('≥widescreen') {
			font-size: 32px;
			line-height: 34px;
		}

		mark {
			display: block;
		}
	}

	.icon-block {
		font-size: 90px;
		text-align: center;
		color: $black;
		transition: color 0.3s ease;
		text-shadow: 0 0 15px rgba($black, 0.25);
		margin: 0 0 12px;
		display: block;
		width: 100%;

		@include media('≥tablet') {
			font-size: 9.3vw;
			margin: 0;
			width: 15vw;
		}

		@include media('≥1920px') {
			font-size: 179px;
			width: 40%;
		}

		.icon-decor {
			position: relative;
			z-index: 1;

			&:after {
				position: absolute;
				left: 3px;
				right: 3px;
				top: 3px;
				bottom: 3px;
				content: '';
				border-radius: 50%;
				background: $white;
				z-index: -1;
				transition: background 0.3s ease;
			}
		}
	}

	.text-block {
		overflow: hidden;
		padding: 0 10px 0 5px;
		width: 100%;
	}

	p {
		margin: 0 0 13px;

		@include media('≥tablet') {
			margin-bottom: 30px;
		}
	}

	.fake-btn {
		display: inline-block;
		vertical-align: top;
		width: 182px;
		text-align: center;
		color: $red;
		font-size: 10px;
		line-height: 14px;
		font-weight: 500;
		position: relative;
		border: 1px solid $red;
		transition: color 0.3s ease, background 0.3s ease;
		padding: 8px 43px 8px 10px;

		@include media('≥tablet') {
			padding: 15px 62px 13px 10px;
			font-size: 15px;
			line-height: 18px;
			width: 282px;
			border-width: 2px;
		}

		&:before {
			position: absolute;
			right: 0;
			top: -1px;
			bottom: -1px;
			border-left: 1px solid $red;
			display: flex;
			content: "\e900";
			align-items: center;
			justify-content: center;
			font-family: 'icomoon' !important;
			transition: border-color 0.3s ease;
			background: $red;
			color: $white;
			width: 35px;
			font-size: 6px;

			@include media('≥tablet') {
				width: 55px;
				top: -2px;
				bottom: -2px;
				border-left-width: 2px;
				content: "\e911";
				background: transparent;
				color: inherit;
				font-size: inherit;
			}
		}
	}
}

.text-content {
	font-size: 19px;
	line-height: 27px;
	font-weight: 300;
	//margin: 0 0 30px;
	margin: 44px 0 37px;
	// text-align: center;

	@include media('≥tablet') {
		font-size: 16px;
		line-height: 24px;
		//margin-bottom: 66px;
		margin: 20px 0 82px;
	}

	@include media('≥desktop') {
		font-size: 19px;
		line-height: 29px;
	}

	p {
		@include media('≥tablet') {
			margin-bottom: 26px;
		}
	}
}

.year {
	position: relative;

	.year-img {
		content: '';
		position: absolute;
		right: 8px;
		top: -50px;
		width: 115px;
		height: 60px;
		z-index: 10;
		// background: url(images/label-year.svg) no-repeat;
		// background-size: 100% auto;

		@include media('≥tablet') {
			right: 23px;
			top: -100px;
			width: 235px;
			height: 120px;
		}
	}

	/* .text-content {
		margin: 44px 0 37px;

		@include media('≥tablet') {
			margin: 30px 0 100px;
		}
	} */
}

.list-download {
	@extend %listreset;
	padding: 7px 0 0;

	li {
		display: block;
		margin-top: -1px;
		transition: background 0.3s ease, border-color 0.3s aese;
		border-bottom: 1px solid lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 37.0588);

		&:last-child {
			border-bottom: 0;
		}

		&:hover {
			background: $white;
			border-color: $white;
			position: relative;
			z-index: 2;
		}

		.list-section & {
			margin-top: 0;
			border-bottom: 1px solid lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 37.0588);

			&:hover {
				background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 47.2549) !important;
				border-color: transparent !important;
				margin-left: -15px;
				margin-right: -15px;
				padding-left: 15px;
				padding-right: 15px;
				margin-top: -1px;
				padding-top: 1px;
			}
		}

		&:first-child {
			.list-section & {
				border-top: 1px solid lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 37.0588);
			}
		}

		// &:nth-child(odd) {
		// 	background: $white;

		// 	.list-section & {
		// 		background: none;
		// 	}
		// }
	}
}

.download {
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	overflow: hidden;

	@include media('≥tablet') {
		display: flex;
		align-items: center;
		padding: 27px 21px 27px 29px;
		justify-content: space-between;
		font-size: 15px;
		line-height: 20px;

		.list-section & {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.ico {
		display: block;
		font-size: 30px;
		line-height: 1;
		color: $black;
		margin: 0 4px 0 0;
		float: left;

		@include media('≥tablet') {
			font-size: 62px;
			float: none;
			padding: 0 15px 0 0;
			margin: 0;
			width: 77px;
		}

		>span {
			display: block;
			width: 30px;

			@include media('≥tablet') {
				width: 62px;
			}
		}
	}

	.body {
		overflow: hidden;
		padding: 2px 0 0;

		@include media('≥tablet') {
			overflow: visible;
			width: calc(100% - 212px);
		}
	}

	p {

		@include media('≥tablet') {
			margin: 0;
		}
	}

	h4 {
		font-size: 14px;
		line-height: 18px;
		margin: 0 0 5px;
		font-weight: 700;
		color: $red;
		text-transform: uppercase;
	}

	.btn-wrap {
		width: 100%;

		@include media('≥tablet') {
			width: 135px;
			display: block;
			padding: 0 0 0 15px;
		}
	}

	.btn {
		text-transform: none;
		font-size: 14px;
		padding: 6px 16px 7px 21px;
		font-weight: 500;
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			color: lighten(saturate(adjust-hue($red, -0.1611), 9.7382), 0.9804);
			box-shadow: 0 0 10px 0 rgba($black, .2);
			color: $white;
		}

		[class^="icon-"],
		[class*=" icon-"] {
			font-size: 8px;
			margin: 0 0 0 7px;
		}
	}
}

.location-section {
	color: $white;

	@include media('≥tablet') {
		background: darken(desaturate(adjust-hue($red, -0.2074), 3.0947), 8.2353);
	}

	.filter-list {
		@extend %listreset;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;

		li {
			transition: background 0.3s ease;
			color: $white;
			background: darken(desaturate(adjust-hue($red, -0.2074), 3.0947), 8.2353);

			@include media('≥tablet') {
				display: inline-block;
				vertical-align: top;
				background: transparent;
			}

			&:hover,
			&.active {
				background: $red;

				a {
					color: $white;
				}
			}

			&:after {
				display: none;
			}

			a {
				padding: 15px;
				display: block;
				color: inherit;

				@include media('≥desktop') {
					padding: 18px 44px 16px;
				}
			}
		}
	}

	.search-content {
		font-weight: 500;
		padding: 0;
		font-size: 18px;
		line-height: 22px;

		@include media('≥tablet') {
			background: $red;
			font-size: 24px;
			line-height: 28px;
		}
	}

	.text {
		display: block;
		margin: 0 0 15px;
		text-align: center;

		@include media('≥tablet') {
			padding: 0 13px;
		}

		@include media('≥desktop') {
			display: inline-block;
			vertical-align: middle;
			text-align: right;
			width: 25.4%;
			margin: 0 13px;
			padding: 0;
		}
	}

	.search-bar {
		padding: 22px 15px;
		background: $red;
		margin: 0 -15px;
		border-top: 1px solid $white;

		@include media('≥tablet') {
			margin: 0 -13px;
			letter-spacing: -7px;
			background: transparent;
			padding: 22px 0;
			border: 0;
		}

		> * {
			letter-spacing: 0;
		}
	}

	.search-form {
		position: relative;
		margin: 0 0 15px;

		@include media('≥tablet') {
			display: inline-block;
			vertical-align: middle;
			width: 63.5%;
			margin: 0 13px;
		}

		@include media('≥desktop') {
			width: 48.5%;
		}

		@include media('≥widescreen') {
			width: 50.5%;
		}

		.form-control {
			font-weight: 500;
			padding: 1px 60px 1px 24px;
			height: 55px;
		}

		.btn-submit {
			position: absolute;
			top: 50%;
			right: 18px;
			font-size: 28px;
			transform: translateY(-50%);
			color: $red;
			padding: 1px;
			background: transparent;
			border: 0;
			transition: color 0.3s ease;
			outline: none;

			&:hover {
				color: darken(desaturate(adjust-hue($red, -0.2074), 3.0947), 8.2353);
			}
		}
	}

	.btn-location {
		color: $white;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		text-align: center;
		border: 1px solid $white;
		padding: 17px 5px;
		display: block;
		transition: color 0.3s ease, background 0.3s ease;

		@include media('≥tablet') {
			display: inline-block;
			vertical-align: middle;
			width: 29.3%;
			margin: 0 13px;
		}

		@include media('≥desktop') {
			width: 17.4%;
		}

		&:hover {
			color: $red;
			background: $white;
		}

		[class^="icon-"] {
			margin-left: 10px;
			font-size: 17px;
		}
	}

	.map-content {
		position: relative;

		@include media('≥tablet') {
			height: 550px !important;
		}

		.google-popup {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 100%;
			margin-bottom: 60px;
			z-index: 999;
			width: 200px;
			background: #fff;
			color: #000;
			padding: 8px 5px;
		}

		.pin {
			position: absolute;
			z-index: 5;
			color: $red;
			font-size: 31px;
			bottom: 0;
			transform: translateX(-50%);
			left: 50%;

			@include media('≥tablet') {
				font-size: 47px;
			}

			&:hover {
				color: $gray;
			}
		}
		.google-map-marker {
			position: absolute;
		}
	}
}

.logo-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.logo-box {
	position: absolute;
	left: 10px;
	bottom: -20px;
	width: 108px;
	background: $white;
	font-size: 9px;
	line-height: 1;

	@include media('≥tablet') {
		left: 10px;
		bottom: -41px;
		width: 215px;
		font-size: 16px;
	}

	.visual {
		padding: 13px 20px 8px;

		@include media('≥tablet') {
			padding: 26px 40px 16px;
		}
	}

	.label-box {
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		display: block;
		color: $white;
		padding: 6px 10px 5px;
		background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 30.0000);

		@include media('≥tablet') {
			padding: 12px 10px 13px;
		}
	}
}

.contact-section {
	padding: 30px 0;

	@include media('≥tablet') {
		padding: 45px 0;
	}

	@include media('≥desktop') {
		padding: 95px 0;
	}
}

.contact-box {
	margin: 0 0 61px;
	font-size: 15px;
	line-height: 18px;

	.title {
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 24px;
		padding: 0 0 20px 40px;
		margin: 0 0 35px;
		border-bottom: 1px solid lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 39.0196);
		position: relative;
		font-weight: 700;
		color: lighten(desaturate(adjust-hue($dark-gray, -340.0000), 3.6145), 5.2941);

		@include media('≥tablet') {
			padding: 0 0 15px;
		}

		[class^="icon-"] {
			position: absolute;
			left: 0;
			top: -1px;
			color: $red;
			font-size: 30px;
			padding: 0 1px;

			@include media('≥tablet') {
				left: -46px;
				width: auto;
			}


			@include media('≥desktop') {
				left: -62px;
				top: -7px;
			}
		}

		.icon-location-empty {
			font-size: 40px;
		}
	}

	.text {
		display: block;
		margin: 0 0 12px;
	}

	dl {
		@extend %clearfix;
		margin: 0;

		dt {
			float: left;
			padding: 0 5px 0 0;
		}

		dd {
			padding: 0 0 10px;
		}
	}
}

.product-section {
	padding: 106px 0 0;
	line-height:1.467;

	p {
		margin:0 0 40px;
	}

	h2 {
		font-size:16px;
		line-height:1.2;
		margin:0 0 8px;
		font-weight:500;
		text-transform:uppercase;
		letter-spacing:1px;

		@include media('≥tablet') {
			font-size:24px;
		}
	}

	.product-title {
		padding: 0 0 44px;
	}

	.btn-wrap {
		padding: 30px 0 50px;

		@include media('≥tablet') {
			padding: 55px 0 94px;
		}
	}
}

.list-section {
	h2 {
		margin: 15px 0;
		text-transform: uppercase;
		line-height: 1.2;
		color: darken(desaturate(adjust-hue($gray, -240.0000), 0.4115), 26.0784);

		@include media('≥tablet') {
			font-size: 22px;
			margin-bottom:20px;
		}
	}
}

.sales-block {
	max-width: 586px;
	margin: 0 auto 30px;
	letter-spacing: -5px;
	color: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 0.1961);

	@include media('≥tablet') {
		margin: -70px auto 106px;
	}

	> * {
		letter-spacing: 0;
	}

	.picture-block {
		text-align: center;

		@include media('≥tablet') {
			display: inline-block;
			vertical-align: middle;
			width: 24%;
		}
	}

	.text-box {
		font-size: 25px;
		line-height: 1;
		padding: 0 15px;

		@include media('≥tablet') {
			display: inline-block;
			vertical-align: middle;
			width: 76%;
			padding: 20px 0 20px;
			font-size: 35px;
		}
	}

	.text {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 43px;

		&:before,
		&:after {
			color: $black;
			position: absolute;
			font-size: 40px;
			line-height: 1;
		}

		&:before {
			content: '\201c';
			left: 0;
		}

		&:after {
			left: auto;
			position: relative;
			margin-left: 8px;
			bottom: -8px;
			content: '\201e';
			line-height: 25px;

			@include media('≥tablet') {
				margin-left: 20px;
				line-height: 35px;
			}
		}
	}

	.number {
		display: block;
		color: $red;
		font-size: 35px;
		line-height: 1;

		@include media('≥tablet') {
			font-size: 75px;
			line-height: 70px;
		}
	}
}

.wrap-search {
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;

	@include media('≥tablet') {
		top: 243px;
	}
}

.form-search-autocomplete {
	position: relative;
	max-width: 839px;
	margin: 0 auto;
	background: $white;
	padding-right: 120px;

	@include media('≥tablet') {
		padding-right: 180px;
	}

	input[type="search"] {
		display: block;
		width: 100%;
		height: 40px;
		font-size: 13px;
		line-height: 19px;
		color: #333e47;
		padding: 1px 13px;

		@include placeholder {color:#333e47;}

		@include media('≥tablet') {
			height: 66px;
			padding: 1px 22px;
		}

		&:focus {
			box-shadow: none;
		}
	}

	button[type="submit"] {
		text-align: center;
		color: $black;
		border: 0;
		background: none;
		position: absolute;
		right: 0;
		top: 0;
		outline: none;
		transition: color .3s;
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 42px;

		@include media('≥tablet') {
			width: 60px;
			height: 66px;
			font-size: 26px;
			line-height: 72px;
		}

		&:hover {
			color: $red;
		}
	}

	.result {
		display: none;
		position: absolute;
		right:45px;
		top:50%;
		transform:translateY(-50%);
		color: $red;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;

		@include media('≥tablet') {
			right:86px;
		}

	}

	.drop-autocomplete {
		@extend %listreset;
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 49.2157);
		font-size: 15px;
		line-height: 18px;
		color: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 0.1961);

		li {
			border-top: 1px solid lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 37.0588);
			padding: 10px 15px;

			@include media('≥tablet') {
				padding: 22px 23px 19px;
			}

			&:first-child {
				border: 0;
			}

			&:hover {
				background: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 50.7843);
			}
		}

		a {
			color: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 0.1961);;
		}

		h4 {
			color: $red;
			text-transform: uppercase;
			font-size: 14px;
			margin: 0 0 7px;
			font-weight: 700;
		}

		p {
			margin: 0;
		}
	}

	&.result-active {
		.result,
		.drop-autocomplete {
			display: block;
		}
	}
}

.service-section {
	padding: 50px 0;
	text-align: center;
	color: $black;
	font-size: 16px;
	line-height: 20px;

	@include media('≥tablet') {
		font-size: 21px;
		line-height: 29px;
		padding: 100px 0 41px;
	}

	h2 {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		margin: 0 0 30px;

		@include media('≥tablet') {
			margin-bottom: 66px;
		}
	}
}

.service-list {
	@extend %listreset;
	letter-spacing: -7px;
	margin: 0 -15px;

	@include media('≥tablet') {
		margin-bottom: 30px;
	}

	li {
		margin: 0 0 25px;
		display: inline-block;
		vertical-align: top;
		letter-spacing: 0;
		padding: 0 15px;
		width: 50%;

		&:last-child {
			margin-bottom: 10px;
		}

		@include media('≥tablet') {
			margin: 0 0 10px;
			width: 33.3%;
		}

		@include media('≥desktop') {
			width: 20%;
		}
	}

	.picture-hold {
		min-height: 100px;
		white-space: nowrap;

		@include media('≥tablet') {
			margin: 0 0 9px;
		}

		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100px;
			width: 1px;
			margin: 0 0 0 -5px;
			overflow: hidden;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			white-space: normal;
		}
	}
}

.partner-section {
	padding: 50px 0;
	text-align: center;

	@include media('≥tablet') {
		padding: 94px 0;
	}

	h2 {
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
		color: lighten(desaturate(adjust-hue($dark-gray, -340.0000), 3.6145), 5.2941);
		margin: 0 0 18px;

		@include media('≥tablet') {
			font-size: 24px;
			line-height: 30px;
		}
	}
}

.partner-list {
	@extend %listreset;
	@extend %clearfix;
	margin: 0 0 40px;
	padding: 30px 0 0;

	@include media('≥tablet') {
		padding-top: 77px;
		margin: 0 -15px 80px;
		letter-spacing: -5px;
	}

	li {
		position: relative;
		overflow: hidden;
		margin: 0 0 15px;

		@include media('≥tablet') {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			letter-spacing: 0;
		}

		@include media('≥desktop') {
			width: 25%;
		}
	}

	a {
		display: block;
		padding: 0 15px;

		&:hover {
			.hover-box {
				top: 0;
			}
		}
	}

	.picture-hold {
		min-height: 270px;
		white-space: nowrap;
		background: darken(saturate(adjust-hue($white, 0.0000), 0.0000), 2.7451);
		padding: 0 10px;

		@include media('≥widescreen') {
			padding: 0 15px;
		}

		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 270px;
			width: 1px;
			margin: 0 0 0 -5px;
			overflow: hidden;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			white-space: normal;
		}
	}

	.hover-box {
		position: absolute;
		top: 100%;
		left: 15px;
		right: 15px;
		height: 100%;
		transition: top 0.3s ease;
		color: $white;
		font-size: 13px;
		line-height: 21px;
		font-weight: 500;
		color: $white;
		background: $black;
		padding: 15px 10px;
		text-align: left;

		@include media('≥widescreen') {
			padding: 35px 22px;
		}

		.title {
			display: block;
			color: $red;
			font-weight: 700;
			margin: 0 0 13px;
			font-size: 17px;
			line-height: 20px;
		}
	}
}
