#footer {
	@extend %clearfix;
	text-align: center;
	color: lighten(saturate(adjust-hue($dark-gray, -133.0000), 12.7790), 7.6471);
	padding: 52px 0;

	@include media('≥desktop') {
		padding: 92px 0;
	}


	.text {
		display: block;
		margin: 0 0 11px;
		font-weight: 500;

		@include media('≥tablet') {
			margin-bottom: 14px;
		}
	}

	a {
		transition: color 0.3s ease;
	}

	.dropdown-parent {
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;

		.open-dropdown {
			font-size: 10px;
			line-height: 14px;
			font-weight: 700;
			color: lighten(saturate(adjust-hue($dark-gray, -133.0000), 12.7790), 7.6471);
			text-align: left;
			position: relative;
			padding: 0;
			width: 216px;
			background: darken(saturate(adjust-hue($white, 0.0000), 0.0000), 3.9216);
			padding: 13px 50px 13px 17px;

			@include media('≥tablet') {
				width: 305px;
				padding: 19px 50px 19px 24px;
				font-size: 13px;
				line-height: 16px;
			}

			.caret {
				font-size: 7px;
				position: absolute;
				margin-right: 0;
				right: 0;
				top: 0;
				color: lighten(saturate(adjust-hue($dark-gray, -133.0000), 12.7790), 7.6471);
				top: 50%;
				transform: translateY(-50%);
				right: 13px;

				@include media('≥tablet') {
					right: 24px;
				}
			}
		}

		.dropdown-menu {
			@extend %listreset;
			background: darken(saturate(adjust-hue($white, 0.0000), 0.0000), 3.9216);
			padding: 10px 25px;
			position: absolute;
			width: 100%;
			top: auto;
			bottom: 100%;
			text-align: left;
		}
	}
}

.social-list {
	@extend %listreset;
	letter-spacing: -3px;
	margin: 0 -10px 44px;
	line-height: 1;
	font-size: 21px;

	@include media('≥desktop') {
		font-size: 32px;
		margin-bottom: 71px;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		letter-spacing: 0;
	}

	a {
		color: lighten(saturate(adjust-hue($dark-gray, -133.0000), 12.7790), 7.6471);

		&:hover {
			color: $red;
		}
	}
}

.navigation {
	margin: 0 0 44px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;

	@include media('≥tablet') {
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 35px;
	}

	ul {
		@extend %listreset;

		@include media('≥tablet') {
			letter-spacing: -3px;
			margin: 0 -19px;
		}
	}

	li {
		color: darken(desaturate(adjust-hue($gray, -240.0000), 0.4115), 12.3529);
		margin: 0 0 17px;

		@include media('≥tablet') {
			display: inline-block;
			vertical-align: top;
			letter-spacing: 0;
			margin: 0 19px 10px;
		}

		&:hover,
		&.active {
			color: $red;
		}
	}

	a {
		color: inherit;

		&:hover {
			color: $red;
		}
	}
}

.add-info-holder {
	margin: 0 -10px 27px;
	letter-spacing: -3px;

	@include media('≥desktop') {
		margin-bottom: 111px;
	}

	> * {
		letter-spacing: 0;
	}
}

.add-footer {
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
	margin: 0 0 17px;

	@include media('≥tablet') {
		margin: 0 15px;
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		line-height: 16px;
	}

	ul {
		@extend %listreset;
		margin: 0 -16px;
	}

	li {
		margin: 0 0 16px;
		color: darken(desaturate(adjust-hue($gray, -240.0000), 0.4115), 17.4510);

		@include media('≥tablet') {
			display: inline-block;
			vertical-align: top;
			margin: 0 16px;
		}

		&:hover,
		&.active {
			color: $red;
		}
	}

	a {
		color: inherit;
	}
}

.bottom-holder {
	@extend %clearfix;
}

.copy {
	font-size: 16px;
	line-height: 20px;
	color: lighten(desaturate(adjust-hue($gray, -240.0000), 0.4115), 5.6863);
	margin: 0 0 20px;
	display: block;

	@include media('≥desktop') {
		float: left;
		max-width: 40%;
		padding-top: 3px;
		margin: 0;
	}

	a {
		color: inherit;

		&.style {
			color: $red;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
			color: $red;
		}
	}
}

.anchor-link {
	display: block;
	width: 80px;
	padding: 7px 5px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 12px;
	color: lighten(saturate(adjust-hue($gray, -30.0000), 4.7431), 14.3137);
	border: 2px solid lighten(saturate(adjust-hue($gray, -30.0000), 4.7431), 14.3137);
	transition: border-color 0.3s ease;

	@include media('≥tablet') {
		width: 112px;
		font-size: 12px;
		line-height: 16px;
		padding: 10px 5px;
	}

	&:hover {
		color: $red;
		border-color: $red;
	}
}
