.bottom-parallax-section
	footer#footer
		.container-fluid
			.top-holder
				.nav-bar
					nav.nav-footer
						ul
							li
								a(href="#") ADVERTISING
							li
								a(href="#") CONTACT
							li.hidden-xs.hidden-sm
								a(href="#") JOBS
							li.hidden-xs.hidden-sm
								a(href="#") TERMS &amp; CONDITIONS
							li.hidden-xs.hidden-sm
								a(href="#") PRIVACY POLICY
					.social-bar
						span.title.hidden-xs.hidden-sm FOLLOW US ON SOCIAL MEDIA:
						ul.social-list
							li
								a.icon-facebook(href="#" target="_blank")
							li
								a.icon-instagram(href="#" target="_blank")
							li
								a.icon-twitter(href="#" target="_blank")
							li
								a.icon-youtube(href="#" target="_blank")
							li.hidden-xs.hidden-sm
								a(href="#") #UNRTD
				.logo: a(href="#"): img(src="images/logo-white.png", alt="Unrated")
			.span.copy
				| © 2016 
				a(href="#") Unrated
				| . All rights reserved.