h1 {
  color: #000;
  background: #000;
  width: 100px;
  font-style: normal; }

body {
  background: #000; }

body {
  color: #000;
  width: 10px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background: #000; }

.box {
  height: 30px; }
