extends inc/head
block body
	body
		h1 asdasdsaddsadasad
		+post-list ({
			categoryList: [
				{
					category: 'category'
				},
				{
					category: 'category'
				}
			],
			imgName: 'imgName',
			title: 'title'
		})
		h4 asdasdasd
