extends pug/common/head
block body
	body
		h1 asdasdsaddsadasad
		+post-list ({
			categoryList: [
				{
					category: 'categoasdasdry'
				},
				{
					category: 'cateasdasdaaaaagory'
				}
			],
			imgName: 'imgName',
			title: 'titlea\sdadasd'
		})
		h4 asdaasasdasdasdasdasdasdasdasdasdasdsdasd11111asdaasd
